*
{
    margin: 0;
    padding: 0; 
}

body
{
    background-image: url(assets/back.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.welcome
{
    color: white;
    font-size: 200%;
    text-align: center;
    margin-top: 2%;
}

.foto img
{
    width: 20%;
    height: auto;
    padding: 3%;
    display: block;
    margin: auto;
    border-radius: 100%;
}

.intro
{
    color: white;
    text-align: center;
}

p
{
    font-size: 20px;
    margin-top: 3px;
}

article
{
    color: white;
    text-align: center;
    font-size: 300%;
}

.hobby
{
    color: white;
    text-align: center;
}

p
{
    font-size: 20px;
    margin-top: 3px;
}

.desc
{
    color: white;
    text-align: center;
}

.desc p
{
    font-size: 20px;
    margin-top: 3px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}