{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>alfisyakir</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <div class="page">
                <div class="welcome">
                    <h1> Welcome to My Profile</h1>
                </div>

                <div class="foto">
                    <img src="{% static 'assets/profil.jpg' %}">
                </div>

                <div class="intro">
                        <h1>Muhammad Alfi Syakir</h1>
                        <p>Information System Fasilkom</p>
                        <p>Universitas Indonesia</p>
                        <p>Quanta 2018</p>
                        <p>1806191364</p>
                </div>
                
                <article>-----------------------------</article>
                         
                <div class="hobby">
                        <h1>Hobbies</h1>
                        <p>Blogging</p>
                        <p>Swimming</p>
                </div>

                <article>-----------------------------</article>

                <div class="desc">
                    <h1>Description</h1>
                    <p>I am a Javanese from Magelang, Central Java and interested in IT-related field. I have a good ability
                        to both works in teams and independently, and have good
                        communication skills.</p>
                </div>

            </div>
            </header>
    </body>

</html>